<div class="container">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-11 col-md-8 col-lg-5 col-xl-4">
      <!-- Insert form here -->
      <div class="form-login">

        <h2 style="font-weight: lighter;">ユーザーの編集</h2>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email, label: "Eメール", required: true, autofocus: true %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>

          <%= f.input :password, label: "パスワード",
          hint: "変更したくない場合は空白のままにします",
          required: false,
          input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation, label: "パスワードの確認",
          required: false,
          input_html: { autocomplete: "new-password" } %>
          <%= f.input :current_password, label: "現在のパスワード",
          hint: "変更を確認するには、現在のパスワードが必要です",
          required: true,
          input_html: { autocomplete: "current-password" } %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "更新", class: "btn btn-primary" %>
        </div>
        <% end %>
      </div>
      <br>
      <div class="d-flex flex-column align-items-center">
        <%= link_to '戻る', root_path, class: ' btn btn-info btn-sm' %>
      </div>
    </div>
  </div>
</div>
