<%= simple_form_for (punto) do |f| %>
<div class="user-view">
  <div class="row justify-content-around user">
    <%= f.input :day %>
    <%= f.input :night %>
    <%= f.input :day_off %>
  </div>

  <%= f.association :company, collection: Company.all %>

  <% if punto.in && punto.company %>
  <%= f.input :out, as: :time, html5: true, input_html: { value: Time.now.strftime("%k:%M") } %>
  <%= f.input :note %>
  <%= f.submit "Check Out", class: 'btn btn-primary btn-sm w-100' %>
  <% else %>
  <%= f.input :in, as: :time, html5: true, input_html: { value: Time.now.strftime("%k:%M") } %>
  <%= f.input :note, as: :hidden %>
  <%= f.submit "Check In", class: 'btn btn-primary btn-sm w-100' %>
  <% end %>
</div>
<% end %>
