<div class="container d-flex flex-column mt-5 align-items-center">
<%= link_to 'Back', root_path, class: 'btn btn-info btn-sm m-2' %>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">id</th>
      <th scope="col">Date</th>
      <th scope="col">Turn</th>
      <th scope="col">Genba</th>
      <th scope="col">Company</th>
      <th scope="col">In</th>
      <th scope="col">Out</th>
      <th scope="col">Extra</th>
      <th scope="col">Note</th>
      <th scope="col">Edit</th>
    </tr>
  </thead>
<% @user.puntos.order(:date, :in).each do |punto| %>
  <tbody>
    <tr>
      <th scope="row"><%= current_user.id %></th>
      <td><%= punto.date.strftime("%d/%m/%Y") %></td>
      <% if punto.day == true %>
      <td>昼勤</td>
      <% elsif punto.night == true %>
      <td>夜勤</td>
      <% else %>
      <td>休み</td>
      <% end %>
      <td><%= punto.genba.name %></td>
      <td><%= punto.genba.company.name %></td>
      <td><%= punto.in.strftime("%k:%M") %></td>
      <% unless punto.out.nil? %>
      <td><%= punto.out.strftime("%k:%M") %></td>
      <% time_diff = (punto.out - punto.in) %>
      <% if (time_diff / 1.hour).round <= 9 %>
      <td>0</td>
      <% else %>
      <td><%= ((time_diff / 1.hour).round - 9) %></td>
      <% end %>
      <% end %>
      <td><%= punto.note %></td>
      <td><%= link_to 'Edit', edit_punto_path(punto), class: 'btn btn-secondary btn-sm' %></td>
    </tr>
  </tbody>
<% end %>
</table>
<%= link_to "Print", user_puntos_path(current_user, format: :pdf), class: "btn btn-success btn-sm m-2" %>
</div>
