<div class="container d-flex flex-column mt-5 align-items-center">
  <% if current_user.admin? %>
  <%= link_to '戻る', users_path, class: 'btn btn-info btn-sm m-2' %>
  <% else %>
  <%= link_to '戻る', root_path, class: 'btn btn-info btn-sm m-2' %>
  <% end %>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">id</th>
        <th scope="col">日付</th>
        <th scope="col">シフト</th>
        <th scope="col">現場</th>
        <th scope="col">企業</th>
        <th scope="col">開始時期</th>
        <th scope="col">退勤</th>
        <th scope="col">残業</th>
        <th scope="col">注意</th>
        <th scope="col">編集</th>
      </tr>
    </thead>
    <% @user.puntos.order(:date, :in).each do |punto| %>
    <tbody>
      <tr>
        <th scope="row"><%= current_user.id %></th>
        <td><%= punto.date.strftime("%d/%m/%Y") %></td>
        <td><%= punto.period %></td>
        <td><%= punto.genba.name %></td>
        <td><%= punto.genba.company.name %></td>
        <td><%= punto.in.strftime("%k:%M") %></td>
        <% unless punto.out.nil? %>
        <td><%= punto.out.strftime("%k:%M") %></td>
        <% time_diff = (punto.out - punto.in) %>
        <% if (time_diff / 1.hour).round <= 9 %>
        <td>0</td>
        <% else %>
        <td><%= ((time_diff / 1.hour).round - 9) %></td>
        <% end %>
        <% end %>
        <td><%= punto.note %></td>
        <td><%= link_to '編集', edit_punto_path(punto), class: 'btn btn-secondary btn-sm' %></td>
      </tr>
    </tbody>
    <% end %>
  </table>
  <!-- <%= link_to "Print", user_puntos_path(current_user, format: :pdf), class: "btn btn-success btn-sm m-2" %> -->
</div>
