<div class="container d-flex flex-column mt-5 align-items-center">
<%= link_to 'Back', root_path, class: 'btn btn-info btn-sm m-2' %>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">id</th>
      <th scope="col">Date</th>
      <th scope="col">Turn</th>
      <th scope="col">Company</th>
      <th scope="col">In</th>
      <th scope="col">Out</th>
      <th scope="col">Extra</th>
      <th scope="col">Note</th>
    </tr>
  </thead>
<% current_user.puntos.each do |punto| %>
  <tbody>
    <tr>
      <th scope="row"><%= current_user.id %></th>
      <td><%= punto.in.strftime("%d/%m/%Y") %></td>
      <% if punto.day %>
      <td>🌞</td>
      <% elsif punto.night %>
      <td>🌚</td>
      <% else %>
      <td></td>
      <% end %>
      <td><%= punto.company.name %></td>
      <td><%= punto.in.strftime("%k:%M") %></td>
      <td><%= punto.out.strftime("%k:%M") %></td>
      <% time_diff = (punto.out - punto.in) %>
      <% if (time_diff / 1.hour).round <= 9 %>
      <td>0</td>
      <% else %>
      <td><%= ((time_diff / 1.hour).round - 9) %></td>
      <% end %>
      <td><%= punto.note %></td>
    </tr>
  </tbody>
<% end %>
</table>
</div>
