<%= simple_form_for(user) do |f| %>
<% if current_user.admin %>
<div class="forms">
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <p><%= f.input :name, label: '氏名 (Full Name):' %></p>
  <p><%= f.input :furigana %></p>
  <%= f.input :address %>
  <p><%= f.input :phone %></p>
  <p><%= f.input :email %></p>
  <% if @user.persisted? %>
  <% else %>
  <%= f.input :password %>
  <% end %>
  <%= f.input :role, collection: User::ROLES %>
  <%= f.input :level_employee, collection: 1..5 %>
  <%= f.input :started_date %>
  <%= f.input :job_exp %>
  <%= f.input :pay_number %>
  <div class="row justify-content-around">
    <div>
      <%= f.input :licence1, as: :boolean %>
      <%= f.input :licence2, as: :boolean %>
      <%= f.input :licence3, as: :boolean %>
      <%= f.input :licence4, as: :boolean %>
      <%= f.input :licence5, as: :boolean, label: 'Driver Licence:' %>
    </div>
    <div>
      <%= f.input :licence6, as: :boolean %>
      <%= f.input :licence7, as: :boolean %>
      <%= f.input :licence8, as: :boolean %>
      <%= f.input :licence9, as: :boolean %>
      <%= f.input :licence10, as: :boolean %>
    </div>
    <div>
      <%= f.input :licence11, as: :boolean %>
      <%= f.input :licence12, as: :boolean %>
      <%= f.input :licence13, as: :boolean %>
      <%= f.input :licence14, as: :boolean %>
      <%= f.input :licence15, as: :boolean %>
    </div>
    <div>
      <%= f.input :licence16, as: :boolean %>
      <%= f.input :licence17, as: :boolean %>
      <%= f.input :licence18, as: :boolean %>
      <%= f.input :licence19, as: :boolean %>
      <%= f.input :licence20, as: :boolean %>
    </div>
  </div>
  <%= f.input :drive_licence %>
  <%= f.input :healthy_exam %>
  <%= f.input :document, label: 'Zairyo Card'  %>
  <%= f.input :document_date, label: 'Expire' %>
  <%= f.input :passport %>
  <%= f.input :passport_date, label: 'Expire' %>
  <%= f.input :active %>
  <%= f.input :admin %>
  <%= f.submit @user.persisted? ? 'Edit' : 'Create', class: 'btn btn-primary btn-sm w-100' %>
</div>
<% else %>
<div class="forms">
  <div class="col-xs-12 col-sm-11 col-md-8 col-lg-5 col-xl-4">
    <div class="row justify-content-around">
      <%= f.input :weekend %>
      <%= f.input :night_shift %>
    </div>
  </div>
  <%= f.submit @user.persisted? ? 'Edit' : 'Create', class: 'btn btn-primary btn-sm w-100' %>
</div>
<% end %>
<% end %>
