<div class="row justify-content-center">
  <%= image_tag "logo.png", class: "p-5" %>
</div>
<div class="d-flex flex-column align-items-center">
  <%= link_to '戻る', users_path, class: ' btn btn-info btn-sm' %>
</div>
<div class="user-view">
  <h1>情報</h1>
  <div class="user-name lead">
    <p><%= @user.name %></p>
    <p><%= @user.furigana %> </p>
    <% if @user.photos.attached? %>
    <p>
      <%= cl_image_tag @user.photos[0].key, height: 150, width: 100, crop: :fill %>
    </p>
    <% end %>
  </div>
  <div class="user">
    <p>住所 <span><%= @user.address %></span> </p>
  </div>
  <div class="user">
    <p>支払い番号 <span><%= @user.pay_number %></span>  </p>
    <p>電話 <span><%= @user.phone %></span></p>
    <p>Eメール <span><%= @user.email %></span></p>
  </div>
  <div class="user">
    <p>役割 <span><%= @user.role %></span> </p>
    <p>レベル <span><%= @user.level_employee %></span> </p>
    <p>開始日 <span><%= @user.started_date %></span> </p>
    <p>仕事の経験 <span><%= @user.job_exp %></span> </p>
  </div>
  <h1>ライセンス</h1>
  <div class="user">
    <p>第一種電気工事士 <span><%= @user.license1  ? '有り' : 'なし'  %></span> </p>
    <p>第二種電気工事士 <span><%= @user.license2  ? '有り' : 'なし'  %></span> </p>
    <p>職長教育 <span><%= @user.license3  ? '有り' : 'なし'  %></span> </p>
    <p>職長安全 <span><%= @user.license4  ? '有り' : 'なし'  %></span> </p>
  </div>
  <div class="user">
    <p>低圧 <span><%= @user.license6  ? '有り' : 'なし'  %></span> </p>
    <p>高所作業車 <span><%= @user.license7  ? '有り' : 'なし'  %></span> </p>
    <p>玉掛け <span><%= @user.license8  ? '有り' : 'なし'  %></span> </p>
  </div>
  <div class="user">
    <p>高圧、特別高圧、低圧取扱 <span><%= @user.license9  ? '有り' : 'なし'  %></span> </p>
    <p>高所作業車 10以上 <span><%= @user.license10  ? '有り' : 'なし'  %></span> </p>
  </div>
  <div class="user">
    <p>酸素欠乏　危険作業 <span><%= @user.license11  ? '有り' : 'なし'  %></span> </p>
    <p>自由研削といしの取替 <span><%= @user.license12  ? '有り' : 'なし'  %></span> </p>
    <p>班長教育 <span><%= @user.license13  ? '有り' : 'なし'  %></span> </p>
  </div>
  <div class="user">
    <p>有機溶剤取扱 <span><%= @user.license14  ? '有り' : 'なし'  %></span> </p>
    <p>ア　ー　ク 溶 接 <span><%= @user.license15  ? '有り' : 'なし'  %></span> </p>
    <p>粉じん特別教育 <span><%= @user.license16  ? '有り' : 'なし'  %></span> </p>
    <p>フルハーネス <span><%= @user.license17  ? '有り' : 'なし'  %></span> </p>
  </div>
  <div class="user">
    <p>足場立て <span><%= @user.license18  ? '有り' : 'なし'  %></span> </p>
    <p>ﾌｫｰｸﾘﾌﾄ運転 <span><%= @user.license19  ? '有り' : 'なし'  %></span> </p>
    <p>クレーン <span><%= @user.license20 ? '有り' : 'なし'  %></span> </p>
  </div>
  <div class="user">
    <p>丸のこ クレーン <span><%= @user.license21 ? '有り' : 'なし' %></span> </p>
    <p>車輌系建設機械 <span><%= @user.license22 ? '有り' : 'なし' %></span> </p>
    <p>石綿取扱い作業従事者 <span><%= @user.license23 ? '有り' : 'なし' %></span> </p>
  </div>
  <h1>文書</h1>
  <div class="user">
    <p>運転免許証 <span><%= @user.license5 ? '有り' : 'なし'  %></span> </p>
    <p>期限切れ <span><%= @user.drive_license %></span> </p>
  </div>
  <div class="user">
    <p>健康診断 <span><%= @user.healthy_exam %></span> </p>
  </div>
  <div class="user">
    <p>在留カード <span><%= @user.document %></span> </p>
    <p>期限切れ <span><%= @user.document_date %></span> </p>
  </div>
  <div class="user">
    <p>パスポート <span><%= @user.passport %></span> </p>
    <p>期限切れ <span><%= @user.passport_date %></span> </p>
  </div>
  <h1>オプション</h1>
  <div class="user">
    <p>週末 <span><%= @user.weekend ? 'はい' : 'いいえ' %></span> </p>
    <p>夜 <span><%= @user.night_shift ? 'はい' : 'いいえ' %></span> </p>
    <p>アクティブ <span><%= @user.active ? 'はい' : 'いいえ' %></span> </p>
  </div>
</div>


