<div class="row justify-content-center">
  <%= image_tag "logo.png", class: "p-5" %>
</div>
<div class="d-flex flex-column align-items-center">
  <%= link_to 'Voltar', users_path, class: ' btn btn-info btn-sm' %>
</div>
<div class="m-5 p-5 border">
  <p>Name: <%= @user.name %></p>
  <p>Furigana: <%= @user.furigana %> </p>
  <p>Address: <%= @user.address %> </p>
  <p>Phone: <%= @user.phone %></p>
  <p>Email: <%= @user.email %></p>
  <p>Role: <%= @user.role %> </p>
  <p>Level: <%= @user.level_employee %> </p>
  <p>Started at: <%= @user.started_date %> </p>
  <p>Job Exp: <%= @user.job_exp %> </p>

  <p>Active User: <%= @user.active ? 'Yes' : 'No' %></p>
</div>
