<div class="container d-flex flex-column mt-5 align-items-center" style="min-height: 950px;">
  <div class="row justify-content-center">
    <%= image_tag "logo.png", alt: "alttext", class: 'p-5' %>
  </div>
  <% if current_user.admin %>
  <%= link_to '従業員', users_path, class: 'btn btn-primary w-50 mb-3' %>
  <%= link_to '企業', companies_path, class: 'btn btn-success w-50 mb-3' %>
  <%= link_to '車', cars_path, class: 'btn btn-warning w-50 mb-3' %>
  <%= link_to 'タイムカード', new_user_punto_path(current_user), class: 'btn btn-info w-50 mb-3' %>
  <br>
  <%= link_to 'パスワードを変更する', edit_user_registration_path(current_user) %>
  <% else %>
  <%= link_to 'タイムカード', new_user_punto_path(current_user), class: 'btn btn-info w-50 mb-3' %>
  <%= link_to '構成', edit_user_path(current_user), class: 'btn btn-secondary w-50 mb-3' %>
  <br>
  <%= link_to 'パスワードを変更する', edit_user_registration_path(current_user) %>
  <% end %>
</div>
