<%= simple_form_for(company) do |f| %>
<div class="forms">
  <%= f.input :name %>
  <%= f.input :furigana %>
  <%= f.input :ceo %>
  <%= f.input :address %>
  <%= f.input :address2 %>
  <%= f.input :phone %>
  <%= f.input :fax%>
  <%= f.input :contact %>
  <%= f.input :email %>
  <%= f.input :closure, collection: 1..31 %>
  <%= f.submit company.persisted? ? 'Editar' : 'Criar', class: 'btn btn-primary w-100' %>
</div>
<% end %>
