<div class="row justify-content-center">
  <%= image_tag "logo.png", class: 'p-5' %>
</div>
<div class="row justify-content-center align-items-center">
  <div>
    <%= form_tag companies_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a company"
    %>
  </div>
  <div>
    <%= submit_tag "探す", class: "btn btn-success btn-sm m-2" %>
    <% end %>
  </div>
</div>
<div class="d-flex flex-column align-items-center">
  <%= link_to '戻る', root_path, class: 'btn btn-info btn-sm m-2' %>
  <%= link_to '新会社', new_company_path, class: 'btn btn-primary btn-sm m-2' %>
</div>
<ul class="list-group mb-2">
  <% @companies.each do |company| %>
  <li class="list-group-item">
    <div class="row justify-content-between align-items-center">
      <div>
        <%= company.name %> / <%= company.furigana %>
      </div>
      <div>
        <%= link_to '見る', company_path(company), class: 'btn btn-primary btn-sm' %>
        <%= link_to '編集', edit_company_path(company), class: 'btn btn-secondary btn-sm' %>
        <%= link_to '削除', company_path(company),
        method: :delete,
        data: { confirm: 'Are you sure?' },
        class: 'btn btn-danger btn-sm' %>
      </div>
    </div>
  </li>
  <% end %>
</ul>


