<div class="container p-5">
  <div class="row">
    <div class="container mt-5">
      <h1 class="mb-5 text-center"><%= @company.name %>
        <p><%= @company.furigana %></p>
      </h1>

      <p>Dono: <%= @company.ceo %></p>
      <p>Endereço: <%= @company.address %></p>
      <p>Endereço: <%= @company.address2 %></p>
      <p>Contato: <%= @company.contact %></p>
      <p>Telefone: <%= @company.phone %></p>
      <p>Fax: <%= @company.fax %></p>
      <p>Email: <%= @company.email %></p>
      <p>Fechamento: <%= @company.closure %></p>

      <%= link_to 'Voltar', companies_path, class: ' btn btn-info mb-5' %>
    </div>

    <div class="container">

      <h1 class="mb-5 text-center">Genbas</h1>
      <%= link_to 'Criar novo genba', new_company_genba_path(@company), class: 'btn btn-primary mb-5'  %>

      <div class="row justify-content-around">
        <% @company.genbas.each do |genba| %>
        <div class="card text-center mb-5">
          <div class="card-header">
           Name: <%= genba.name %>
         </div>
         <div class="card-body">
          <p class="card-title"> <span>Contact: </span> <%= genba.contact %></p>
          <p class="card-text">
            Address: <%= genba.address %>
          </p>
          <p>Closure: <%= genba.closure %></p>
        </div>
        <div class="card-footer text-muted">
          Phone: <%= genba.phone %>
        </div>
      </div>
      <% end %>
    </div>
  </div>

</div>
</div>
