<div class="row justify-content-center">
  <%= image_tag "logo.png", class: "p-5" %>
</div>
<div class="d-flex flex-column align-items-center">
  <%= link_to 'Voltar', companies_path, class: ' btn btn-info btn-sm' %>
</div>
<div class="company-view">
  <div class="company-name lead">
    <p><%= @company.name %></p>
    <p><%= @company.furigana %></p>
  </div>

<div class="company">
  <p>Dono: <span><%= @company.ceo %></span></p>
  </div>
  <div class="company">
  <p>Endereço: <span><%= @company.address %></span></p>
  </div>
  <div class="company">
  <p>Endereço: <span><%= @company.address2 %></span></p>
  </div>
  <div class="company">
  <p>Contato: <span><%= @company.contact %></span></p>
  <p>Telefone: <span><%= @company.phone %></span></p>
  </div>
  <div class="company">
  <p>Fax: <span><%= @company.fax %></span></p>
  <p>Email: <span><%= @company.email %></span></p>
  </div>
  <div class="company">
  <p>Fechamento: <span><%= @company.closure %></span></p>
  </div>




  <div class="d-flex flex-column align-items-center">
    <%= link_to 'Criar novo genba', new_company_genba_path(@company), class: 'btn btn-primary mb-5'  %>
  </div>

  <div class="row justify-content-around">
    <% @company.genbas.each do |genba| %>
    <div class="card text-center mb-5">
      <div class="card-header">
       Name: <%= genba.name %>
     </div>
     <div class="card-body">
      <p class="card-title"> <span>Contact: </span> <%= genba.contact %></p>
      <p class="card-text">
        Address: <%= genba.address %>
      </p>
      <p>Closure: <%= genba.closure %></p>
    </div>
    <div class="card-footer text-muted">
      Phone: <%= genba.phone %>
    </div>
  </div>
  <% end %>
</div>


</div>

